.App{
    height: 100vh;
    background-color: #f3f6fd;
}
.container{
    display: flex;
    height: calc(100vh - 50px);
    overflow: hidden;
}

/* .others{
    flex: 4;
    background-color: red; 
} */